---
import Layout from '../layouts/Layout.astro';
import posts from '../posts.json'
import { map } from 'astro:schema';
---
<h1>All Posts</h1>
<Layout title="All Posts">
	<main>
		<ul role="list" class="link-card-grid">
			{
				posts.map(post => <li>
					<a href={post.href}>{post.title}</a>
				</li>
				)
			}
		</ul>
	</main>
</Layout>
