---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Rachel Johnson">
	<main>
		</svg>
		<h1 <span class="text-gradient">Rachel Johnson</span></h1>
		<p class="info">
			Some of my projects and adventures are below. I have a background in physics, dance, and hiking and I'm always learning new things too!
		</p>
		<p class="info">
			<a href='mailto:rjohnsn01@gmail.com'>Email</a> &#x25CB; 
			<a href='/src/Resume.pdf'>Resume</a> &#x25CB; 
			<a href='https://www.linkedin.com/in/rjohns27/'>LinkedIn</a> &#x25CB; 
			<a href='https://github.com/johnson-rachel/'>GitHub</a>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="posts/senior-thesis"
				title="Senior Thesis"
				body=""
				image="/src/assets/ibm-qc.webp"
			/>
			<Card
				href="posts/richard-iii"
				title="Richard III"
				body=""
				image="/src/assets/riii-credit-sofia-crimivaroli.jpg"
			/>
			<Card
				href="posts/idg-2024"
				title="Irish Dancesport Gala 2024"
				body=""
				image="/src/assets/idg-2024.jpg"
			/>
			<Card
				href="posts/oht"
				title="Ozark Highlands Trail"
				body=""
				image="/src/assets/oht.jpg"
			/>
			<Card
				href="posts/rodeo-and-juliet"
				title="Rodeo and Juliet"
				body=""
				image="/src/assets/r-and-j.jpg"
			/>
			<Card
				href="posts/baobab-species-portfolio"
				title="Baobab Species Portfolio"
				body=""
				image="/src/assets/baobab-photo.jpg"
			/>
			<Card
				href="posts/stellenbosch"
				title="Study Abroad in Stellenbosch, South Africa"
				body=""
				image="/src/assets/jonkershoek.jpg"
			/>
			<Card
				href="posts/neutron-activation"
				title="Neutron Activation Analysis at Goethe University, Frankfurt, Germany"
				body=""
				image="/src/assets/germany.jpg"
			/>
			<Card
				href="posts/mt-whitney"
				title="Hiking Mt. Whitney"
				body=""
				image="/src/assets/whitney.jpg"
			/>
			<Card
				href="posts/radio"
				title="Elenco Radio Kit"
				body=""
				image="/src/assets/radio.png"
			/>
			<Card
				href="posts/syc4m0r3"
				title="Syc4m0r3"
				body=""
				image="/src/assets/tulips.jpg"
			/>
			<Card
				href="posts/campfire"
				title="Campfire"
				body=""
				image="/src/assets/campfire.png"
			/>
			<Card
				href="posts/qft"
				title="Evaluating the Accuracy of Quantum Computers through a Quantum Fourier Transform Algorithm"
				body=""
				image="/src/assets/qft.jpg"
			/><Card
				href="posts/soil-monitor"
				title="Soil Monitor"
				body=""
				image="/src/assets/soil-monitor.jpg"
			/><Card
				href="posts/iquhack"
				title="Calculating e Using Monte Carlo Methods and Quantum Amplitude Estimation"
				body=""
				image="/src/assets/iquhack.png"
			/>
			<Card
				href="posts/old-website"
				title="Old Website"
				body=""
				image="/src/assets/old-website.png"
			/>
			<Card
				href="posts/noether"
				title="Amalie Emmy Noether and Noether's Theorem"
				body=""
				image="/src/assets/noether.jpg"
			/>
			<Card
				href="posts/plancks-constant"
				title="Calculating Planck's Constant Using LEDs"
				body=""
				image="/src/assets/leds.jpg"
			/>
			<Card
				href="posts/biomial-expansion"
				title="Biomial Expansion"
				body=""
				image="/src/assets/biomial.png"
			/>
			<Card
				href="posts/drip-drop"
				title="Drip Drop"
				body=""
				image="/src/assets/drip-drop.png"
			/>
			<Card
				href="posts/m3-2020"
				title="MathWorks Math Modeling Challenge 2020"
				body=""
				image="/src/assets/m3.jpg"
			/>
			<Card
				href="posts/mentor-one"
				title="Mentor One"
				body=""
				image="/src/assets/mentorone.png"
			/>
			<Card
				href="posts/m3-2019"
				title="MathWorks Math Modeling Challenge 2019"
				body=""
				image="/src/assets/m3.jpg"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	a {
	color: var(--accent);
	text-decoration: none;
	}
	a:focus,
	a:hover {
	color: var(--accent-yellow);
	text-decoration: none;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		font-family: Lucida Console;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.info {
		font-family: monospace, sans-serif;
		margin-bottom: 2rem;
		border: 3px solid rgba(var(--accent-yellow), 66%);
		background: solid rgba(var(--accent-dark), 66%);
		padding: 1.5rem;
		border-radius: 125px;
		text-align: center;
	}
	.info code{
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.info strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
