---
interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}

const { href, title, body, image } = Astro.props;

---

<li class="link-card" style={{ backgroundImage: `url(${image})` }}>
    <a href={href}>
        <h2>
            <span>{title}</span>
        </h2>
    </a>
</li>
<style>
	.link-card {
    position: relative; 
    height: 33ch;
    width: 33ch;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-size: cover; 
    border-radius: 50%;
    text-align: center;
    opacity: 1;
    transition: background-color .5s;
    place-items: center;
}

.link-card:hover::after, 
.link-card:focus-within::after { 
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: inherit; 
}

.link-card > a {
	z-index: 1;
    height: 24ch;
    width: 24ch;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(3.5rem - 5px);
    border-radius: 50%;
    color: white;
    text-align: center;
}

h2 {
    margin: 10px; 
    font-size: 2rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
@media (670px <= width <= 800px) {
  	/* scale down circles without overlapping */
	h2 {
		font-size: 1.6rem;
	}
    .link-card {
        height: 28ch;
        width: 28ch;
    }
}
@media (632px <= width <= 669px) {
  	/* scale down circles without overlapping */
	h2 {
		font-size: 1.5rem;
	}
    .link-card {
        height: 26ch;
        width: 26ch;
    }
}
@media ( width <= 369px) {
  	/* scale down circles for really small screens */
	h2 {
		font-size: 1.8rem;
	}
    .link-card {
        height: 30ch;
        width: 30ch;
    }
}
</style>
