---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Sigmar&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
	<!-- Footer content -->
    <footer>
		<hr>
        <p>
			<a href='/'>Home</a>
		</p>
		<p>
			Except where otherwise noted, the content of this website is licensed under a <a href='http://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution 4.0 International License</a>.
		</p>
    </footer>
</html>
<style is:global>
	:root {
		--accent-yellow: 255, 202, 14;
		--accent: 20, 175, 70;
		--accent-light: 204, 250, 210;
		--accent-dark: 10, 54, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Funnel Sans", system-ui, serif;
  		font-optical-sizing: auto;
  		font-weight: <weight>;
  		font-style: normal;
		background: #121311;
		background-size: 224px;
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 20px; 
	font-size: 22px;
	}
	a {
		color: var(--accent);
	}
</style>
